/*     <<<   !!!   v General Menu v   !!!   >>>     */

/*General Menu Wrapper and Casing*/
.gen-menu-wrapper {
    width: 15%;
    height: 90%;
    right: 0;
    bottom: 5%;
    background: red;
    display: none;
    position: fixed;
    z-index: 2000;

}



/*grid that contains all the category buttons */
.gen-menu-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    position: relative;
    z-index: 2500;
}

/*single button for categories in the general menu*/
.gen-menu-categ-btn {
    width: 90%;
    height: 100px;
    background: blue;
    display: flex;
    position: relative;
    z-index: 3000;
    cursor: pointer;
    transition: all 0.2s ease;

}
/*Hover effekt for category buttons in general menu*/
.gen-menu-categ-btn:hover {
    background: darkBlue;
}

/*     <<<   !!!   ^ General Menu End ^   !!!   >>>     */

/*     <<<   !!!   v General Menu Monster Inventory v   !!!   >>>     */

/*Wrapper that contains the Monsters Menu that gets called on Buttonclick in General Sidebar Menu*/
.gen-menu-monsters-wrapper {
    background: green;
    display: flex;
    width: 30%;
    height: 90%;
    position: fixed;
    z-index: 2000;
}

.gen-menu-monsters-grid {
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
    gap: 3%;
    position: relative;
    z-index: 2500;
}

/*Monster Card that contains all small fields*/
.gen-menu-monsters-card {
    background: blue;
    display: flex;
    width: 90%;
    height: 100%;
    position: relative;
    z-index: 2500;
}

/*Empty Card for when the team is not full*/
.empty-slot {
    opacity: 0.5;
    border: 2px dashed gray;
    display: flex;
    width: 90%;
    height: 100%;
    position: relative;
    z-index: 2500;
    font-size: 2rem;
}
/* Todo Füge ein Grid ein, welches die Inneren felder der monster card, also die info und die buttons beinhaltet
    und sauber darstellt. Links oben name, daneben level und hp und basic info, links unten show advanced info und
    rechts unten make main und swap monster button -> implementiere noch methode um frei monster zu swappen. Edge case,
    Wenn man monster an erste stelle setzt aber nicht spezifisch main sagt, soll es trotzdem main gemacht werden, also
    automatische 1. place erkennung -> automatisch main setzen*/
.monster-name-field {
    background: yellow;
    display: flex;
    width: 41%;
    height: 41%;
    position: absolute;
    z-index: 3000;
}

.monster-basic-info-field {
    background: yellow;
    display: flex;
    width: 41%;
    height: 41%;
    position: absolute;
    z-index: 3000;
}

.monster-show-info-btn {
    background: yellow;
    display: flex;
    width: 41%;
    height: 41%;
    position: absolute;
    z-index: 3000;
}

.monster-make-main-btn {
    background: yellow;
    display: flex;
    width: 41%;
    height: 41%;
    position: absolute;
    z-index: 3000;
}

/**/
.detailed-monst-card {
    background: blue;
    display: flex;
    width: 40px;
}

/*     <<<   !!!   ^ General Menu Monsters Inventory End ^   !!!   >>>     */

/*     <<<   !!!   v Quest Menu v   !!!   >>>     */



/*     <<<   !!!   ^ Quest Menu End ^   !!!   >>>     */